doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='renderer', content='webkit')
    meta(name='keywords', content='一起牛，齐牛金融，投资，炒股')
    meta(name='description', content='')
    title 一起牛-百姓身边的投资顾问
    link(rel='stylesheet', href='/stylesheets/promotion/download/index.css')

  body
    .header
      a.logo(href='http://www.yiqiniu.com', title='一起牛')
      span.words
      a.to-yiqiniu(href='http://www.yiqiniu.com',title='一起牛') 齐牛首页 &gt;

    .main

    script(type='text/javascript').
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?794218b4f894eb9492cd450fcfa7ef75";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();