extends ../common/layout

block header
  +he()

//- 添加自定义样式
append css
  link(rel='stylesheet', href='/stylesheets/live_room/live_room_index.css')

block main_content
  .qn-breadcrumbs.qn-section
    a(href='/live_room/list') 返回
    i.fa.fa-angle-right
    | #{title}

  form#create-form.qn-section(action='javascript:;', method='post')
    .qn-form-section
      span.qn-form-section-title 基本信息

      .qn-form-group
        label.qn-control-label(for='group-name') 直播群名称
          i *
        .qn-form-control-box
          input.qn-form-control#group-name(type='text', name='group_name', placeholder='为你的直播间取个好听的名字吧')
          .clearfix

      .qn-form-group
        label.qn-control-label(for='description') 直播群描述
        .qn-form-control-box
          textarea.qn-form-control#description(name='description', placeholder='请填写直播间描述')
          .clearfix

      .qn-form-group.special
        label.qn-control-label 是否验证
        .qn-form-control-box
          .qn-radio
            label.checked.radio-pretty.inline(for='need-verify-n')
              input#need-verify-n(type='radio', name='need_verify', value='N')
              span
               .text 所有客户可加入

          .qn-radio
            label.radio-pretty.inline(for='need-verify-y')
              input#need-verify-y(type='radio', name='need_verify', value='Y')
              span
                .text 需我验证通过才能加入

        input#needVerifyVal(type='hidden' name='need_verify_val' value='N')

    .qn-form-section
      span.qn-form-section-title 高级设置

      .qn-form-group.special
        label.qn-control-label 是否收费
        .qn-form-control-box
          .qn-radio
            label.checked.radio-pretty.inline(for='is-charge-n')
              input#is-charge-n(type='radio', name='is_charge', value='N')
              span
                .text 免费

          .qn-radio
            label.radio-pretty.inline(for='is-charge-y')
              input#is-charge-y(type='radio', name='is_charge', value='Y')
              span
                .text 收费

        input#isChargeVal(type='hidden' name='is_charge_val' value='N')

      .setting-create-price-box
        .qn-form-group
          label.qn-control-label(for='price') 价格
            i *
          .qn-form-control-box
            input.qn-form-control#price(type='text', name='price2', placeholder='请填写价格')
            span.qn-form-control-ext-txt 元&nbsp;/&nbsp;月
            .clearfix

        .qn-form-group
          label.qn-control-label(for='sales-price') 优惠价
          .qn-form-control-box
            input.qn-form-control#sales-price(type='text', name='sales_price2', placeholder='请填写优惠价')
            span.qn-form-control-ext-txt 元&nbsp;/&nbsp;月
              i （对所有客户适用）
            .clearfix

        .qn-form-group
          label.qn-control-label(for='vip-sales-price') VIP优惠价
          .qn-form-control-box
            input.qn-form-control#vip-sales-price(type='text', name='vip_sales_price2', placeholder='请填写VIP优惠价')
            span.qn-form-control-ext-txt 元&nbsp;/&nbsp;月
              i （仅对VIP客户适用）
            .clearfix

    .qn-form-section
      .qn-form-group.offset-label#create-form-submit-box
        button.qn-btn.primary(type='submit') 完成

append foot_scripts
  script(data-main='/javascripts/live_room/adviser_create.js' src='/javascripts/lib/requirejs/require.js')
