extends ../common/seo_full_width_layout

block header
  +he()

//- 添加自定义样式
append css
  link(rel='stylesheet', href='/stylesheets/accounts/accounts_index.css')

block main_content
  .accounts-operate-wrap
    .container
      .accounts-operate-box
        .accounts-operate-title
          .row
            .col-xs-8
              span.title 登录
            .col-xs-4.text-right
              span 还没有账号？
                a(href='/zhuce') 注册

        //- 注册的主体
        .accounts-operate-main
          .accounts-operate-content
            //form#login-form(action='/account/login', method='post')
            form#login-form(action='javascript:void(0);', method='post')
              .qn-form-group
                label.qn-control-label(for='username') 手机号
                .qn-form-control-box.controls-wrap
                  input.qn-form-control#username(type='text', name='username', placeholder='请填写用户名', tabindex='1')
                  .clearfix

              .qn-form-group
                label.qn-control-label(for='password') 密码
                .qn-form-control-box.controls-wrap
                  input.qn-form-control#password(type='password', name='password', placeholder='请填写密码', tabindex='2')
                  .clearfix

              .qn-form-group
                #capContainer
                  if needCaptcha
                    label.qn-control-label(for='inputCaptcha') 验证码
                    .qn-form-control-box.controls-wrap.captcha-control-box
                      input.qn-form-control.qn-form-captcha#inputCaptcha(type='text', name='captcha', placeholder='请填写验证码', tabindex='3')
                      img#captcha.captcha.m-l-5(src="/captcha")
                      a#updateCap.link-blue.m-l-5(href='javascript:void(0);') 换一张
                      .clearfix

              .qn-form-group.offset-label#login-form-submit-box
                button.qn-btn.primary(type='submit') 登录
                a.qn-btn.link(role='button', href='/zhaohuimima') 忘记密码？

          //- 注册页的网站介绍
          .accounts-operate-intro
            dl
              dt 百姓身边的投资顾问
              dd
                ul
                  li 我们是万里挑一的顶级证券投资顾问
                  li 我们耐心解答您的每个投资问题
                  li 我们的研究比新闻更有深度
                  li 您的收益率是我们能力的度量

            table
              tbody
                tr
                  td 手机下载一起牛
                  td 我们也在微信上
                  td 微博上也有我
                tr
                  td
                    img(src='/images/download.jpg')
                  td
                    img(src='/images/weixin.jpg')
                  td
                    a(href='http://weibo.com/u/5833239331?refer_flag=1005055013_&is_hot=1', target='_blank')
                      img(src='/images/weibo.png')

append foot_scripts
  script(data-main='/javascripts/accounts/login.js' src='/javascripts/lib/requirejs/require.js')
