extends ../common/seo_full_width_layout

block header
  +he()

//- 添加自定义样式
append css
  link(rel='stylesheet', href='/stylesheets/accounts/accounts_index.css')

block main_content
  .accounts-operate-wrap#register-page
    .container
      .accounts-operate-box
        .accounts-operate-title
          .row
            .col-xs-8
              span.title 找回密码
            .col-xs-4.text-right
              span
                a(href='/denglu') 登录

        //- 注册的主体
        .accounts-operate-main
          .accounts-operate-content
            form#verify-form(action='javascript:;', method='post')
              .qn-form-group
                label.qn-control-label(for='username') 手机号
                .qn-form-control-box
                  input.qn-form-control#username(type='text', name='username', placeholder='请填写手机号', tabindex='1')
                  .clearfix

              .qn-form-group.captcha-section
                label.qn-control-label(for='captcha') 验证码
                .qn-form-control-box
                  input.qn-form-control#captcha(type='text', name='captcha', placeholder='请填写验证码', tabindex='2')
                  a.qn-btn.primary#get-captcha(href='javascript:') 获取验证码
                  .clearfix
                input.hide#event-id(type='hidden', name='event_id')

              .qn-form-group.offset-label#valid-form-submit-box
                button.qn-btn.primary(type='submit') 下一步

          //- 注册页的网站介绍
          .accounts-operate-intro
            dl
              dt 百姓身边的投资顾问
              dd
                ul
                  li 我们是万里挑一的顶级证券投资顾问
                  li 我们耐心解答您的每个投资问题
                  li 我们的研究比新闻更有深度
                  li 您的收益率是我们能力的度量

            table
              tbody
                tr
                  td 手机下载一起牛
                  td 我们也在微信上
                  td 微博上也有我
                tr
                  td
                    img(src='/images/download.jpg')
                  td
                    img(src='/images/weixin.jpg')
                  td
                    a(href='http://weibo.com/u/5833239331?refer_flag=1005055013_&is_hot=1', target='_blank')
                      img(src='/images/weibo.png')

append foot_scripts
  script(data-main='/javascripts/accounts/reset_password.js' src='/javascripts/lib/requirejs/require.js')
