if NODE_ENV === 'production'
  script
    | var _hmt = _hmt || [];
    | (function() {
    |   var hm = document.createElement("script");
    |   hm.src = "//hm.baidu.com/hm.js?794218b4f894eb9492cd450fcfa7ef75";
    |   var s = document.getElementsByTagName("script")[0];
    |   s.parentNode.insertBefore(hm, s);

    |   var bp = document.createElement('script');
    |   var curProtocol = window.location.protocol.split(':')[0];

    |   if(curProtocol === 'https') {
    |     bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    |   } else {
    |     bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    |   }

    |   var s = document.getElementsByTagName("script")[0];
    |   s.parentNode.insertBefore(bp, s);
    | })();
