ul.right-layer
  li.rl-item
    a.qr-code(href='javascript:;')
      span 扫描<br>下载
    .qr-code-content
      ul.row
        li.col-xs-6
          p 一起牛APP
          img(src="/images/download.jpg", alt="一起牛APP二维码")
        li.col-xs-6
          p 微信公众号
          img(src="/images/weixin.jpg", alt="微信公众号二维码")
  li.rl-item
    a#go-to-top.go-to-top(href='javascript:')
      i.seo-icon-1.icon-goTop