//- 网站页眉
mixin he(index)
  header.header
    .container.clearfix
      //- 页眉Logo
      .header-logo
        a(href='/', title='一起牛')
          img(src='/images/logo.png', alt='一起牛')
          | 一起牛

      //- 页眉搜索
      .header-search
        form#header-search-form(action='/q', method='get')
          input#header-search-input(type='text', placeholder='股票代码/股票名称', autocomplete='off')
          button(type='submit')
            i.seo-icon-1.icon-questionMark

      //- 页眉账号相关
      .header-account
        ul
          if !user
            li
              a(href='/zhuce') 注册
            li
              a.point(href='/denglu') 登录
          else
            li.header-account-wrap
              //- 头像
              a#header-user-avatar-box.header-user-avatar-box(href='javascript:', data-id=user.userId, data-nickname=user.nickname, data-type=user.type)
                span.qn-avatar.header-user-avatar
                  img(src=user.avatar, width='26', height='26')
                i.fa.fa-caret-down

              //- 操作列表
              .header-account-box
                .content.clearfix
                  .arrow-box
                    i
                    em
                  ul
                    li
                      a(href='/question/square')
                        i.fa.fa-home
                        | 个人中心
                  ul
                    li
                      a.logout-easemob(href='/zhuxiao')
                        i.fa.fa-sign-out
                        | 注销

      //- 页眉导航
      nav.header-navigation
        ul.header-menu
          li.menu-item(class={active: index == 'shouye'})
            a(href='/') 首页
          li.menu-item(class={active: index == 'wenda'})
            a(href='/wenda') 问答
          li.menu-item(class={active: index == 'guandian'})
            a(href='/guandian') 观点
          li.menu-item(class={active: index == 'shichang'})
            a(href='/shichang') 市场
          li.menu-item(class={active: index == 'xiazai'})
            a(href='/static/xiazai') 下载APP
