.qn-pager-wrap.push-question

  //- 标题
  .qn-pager-title
    .pager-title 广场求助提问
    ul.qn-pager-wrap-handle
      li
        a.push-question-close(hraf='javascript:')
          i.fa.fa-times

  //- 主体
  .qn-pager-main

    //- 用户信息
    .item-user.qn-row
      .qn-avatar
        img(src='/images/default_avatar_man.jpg')
      .item-user-main
        .name 王小波
        .source 广东省广州市南关村
      a.qn-btn.sm.primary 抢答

    //- 问题
    .item-question
      .item-question-about.qn-row
        a 平安银行
        span 成本价：108.10元
        span 仓位：半仓

      //- 问题
      .item-question-content.qn-row 请问平安银行可以大涨吗？可以重仓买入吗？你快点给我一个答案，我有很多钱