table { background-color: @table-bg; }

th { text-align: left; }

/* 表格基础样式 */
.qn-table {
  width: 100%;
  max-width: 100%;

  // 单元格
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding-vertical @table-cell-padding-horizontal;
        line-height: @line-height-base;
        vertical-align: top;
      }

      // 表头
      > th {
        background-color: @table-bg-head;
        font-weight: normal;
        color: @table-head-color;
      }
    }
  }

  // 表格内A标签
  > tbody {
    > tr {
      > td a {
        color: @gray-base;

        &:hover,
        &:focus { color: @brand-info; }
      }

      &.highlight { color: @brand-primary; }
    }
  }

  // 紧凑型的
  &.condensed {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: @table-condensed-cell-padding-vertical @table-condensed-cell-padding-horizontal;
        }
      }
    }
  }

  // 带边框的
  &.bordered {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td { border-top: 1px solid @table-border-color; }

        &:first-child {
          > th,
          > td { border-top: none; }
        }

        &:last-child {
          > th,
          > td { border-bottom: 1px solid @table-border-color; }
        }
      }
    }

    > tfoot {
      > tr:last-child {
        > th,
        > td { border-bottom: none; }
      }
    }
  }

  // 隔行换色
  &.striped {
    > tbody > tr:nth-of-type(even) { background-color: @table-bg-accent; }

    &.odd {
      > tbody > tr:nth-of-type(even) { background-color: @table-bg; }

      > tbody > tr:nth-of-type(odd) { background-color: @table-bg-accent; }
    }
  }

  // 鼠标移入行换色
  &.hover {
    > tbody > tr:hover { background-color: @table-bg-hover; }
  }

  // 内容中间对齐
  &.vertical-middle {
    > tbody {
      > tr {
        > th,
        > td { vertical-align: middle; }
      }
    }
  }
}

/* 表格标题 */
.qn-table-title {
  margin-bottom: 15px;
  font-size: @font-size-large;
  font-weight: bold;
  color: @gray-dark;
}

.qn-table + .qn-table-title,
.qn-table + .qn-table { margin-top: 30px; }
