/* 工具类 */

// 浮动
.clearfix {
  .clearfix();
}

// 清除浮动
.clear { clear: both }

.center-block {
  .center-block();
}

.pull-right { float: right !important; }

.pull-left { float: left !important; }

// 切换内容
.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide {
  .text-hide();
}
