//
   Created by ayou on 2016/1/23.

doctype html
html
   head
      meta(charset='utf-8')
      meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
      meta(name='format-detection', content='telephone=no')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black')
      link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
      link(href='/stylesheets/mobile/about_us_index.css?ver=20150624', rel='stylesheet')
      title 关于我们|一起牛-齐牛金融-百姓身边的投资顾问
   body
      // 顶部
      header
         .nav-warp
            // 头部工具栏
            .nav-con
               i.nav-menu-btn
               h1.page-title 关于我们
               .logo
                  img(src='/images/mobile/logo.png?ver=20150624', alt='齐牛金融')
            // 导航菜单
            .nav-menu
               ul.nav-menu-lists.clearfix
                  li
                     a(href='/mobile') 首页
                  li
                     a(href='/mobile/download') 下载
                  li
                     a(href='/mobile/cooperation') 合作
                  li
                     a(href='/mobile/jobs') 招聘
                  li
                     a.cur(href='javascript:void(0);') 我们
      .page
         .page-banner
            img(src='/images/mobile/about-banner.jpg?ver=20150624', alt='关于我们')
         // 公司简介
         .we-floor
            .container
               .we-tit
                  h1 公司简介
                  h2 Company introduction
               .we-con.clearfix
                  .left-img
                     img.logo(src='/images/mobile/logo-2.png?ver=20150624')
                  .right-text
                     h2 深圳齐牛互联网金融服务有限公司
                     p
                        | 2014年7月份成立于深圳前海，是深圳首批获准“可利用互联网技术，从事金融信息中介服务”的创新型互联网金融服务公司。已获得腾讯联合创始人千万级别的天使投资，我们致力于为用户打造极致体验的社交投资平台。
                     p 2015年3月，齐牛金融公司正式加入中国证券基金业协会互联网金融专业委员会。
         // 天使投资人
         .we-floor.bg-gray
            .container
               .we-tit
                  h1 天使投资人
                  h2 Investors introduction
               .we-con
                  .left-img
                     img.person(src='/images/mobile/zenglq.jpg?ver=20150624', alt='曾李青')
                  .right-text
                     h2 曾李青
                     p
                        | 2007年5月至今任德迅投资有限公司董事长。腾讯公司创始人之一，在腾讯科技(深圳)有限公司任高级执行副总裁及COO首席运营官，负责腾讯公司的市场营销体系部署、战略研究部门以及众多业务产品的支持，为腾讯公司的发展做出了卓越的贡献。
                     h3 主要社会职务
                     p
                        | 中欧国际工商学院深圳校友会理事；腾讯科技(深圳)有限公司慈善基金会理事。曾先生于1993年在西安电子科技大学获得计算机通信学士学位，2005年获得中欧国际工商学院高级工商管理硕士学位，并任中欧国际工商学院深圳校友会理事。
         // 创始人
         .we-floor
            .container
               .we-tit
                  h1 创始人
                  h2 Founder introduction
               .we-con
                  .left-img
                     img.person(src='/images/mobile/yangg.jpg?ver=20150624', alt='杨刚')
                  .right-text
                     h2 杨纲
                     p
                        | 杨纲，齐牛金融CEO，上海高级金融学院SAIF工商管理硕士，中国证券基金行业协会互联网金融委员会专家委员，具有超过16年互联网与金融信息技术的工作经验。在创办齐牛金融前担任汇添富基金管理股份有限公司电子金融总部总监，负责基金电子商务业务，凭借在货币基金上的业务创新获得2012年度上海市政府“金融创新”一等奖。在进入基金业之前，杨纲曾任职于中国银行、腾讯。1999年毕业于湖北工业大学，获得计算机学士学位。
         // 企业文化
         .we-floor.bg-gray
            .container
               .we-tit
                  h1 企业文化
                  h2 Corporation Culture
               .clearfix
                  .culture
                     .we-tit2
                        span.h2.color2 正直
                        span.subh2.color2 INTEGRITY
                     .culture-con
                        h3 碳（C 6）
                        p
                           | 碳对于现有已知的所有生命系统都是不可或缺的，没有它，生命不可能存在。而金刚石是最为坚固的碳结构，它坚硬、纯净，被当做永恒和忠诚的象征。正直是齐牛的最不可或缺的第一价值观，正直意味着内心如金刚石般纯净，有勇气坚持自己的信念；志毋虚邪，行必正直，才有内心的快乐和满足。
                  .culture
                     .we-tit2
                        span.h2.color3 创新
                        span.subh2.color3 INNOVATION
                     .culture-con
                        h3 硅（Si 14）
                        p
                           | 硅在地表的含量仅次于氧，是最普通不过的元素；却同时也是最富有创新能量的元素；半导体材料创造了整个电子时代，金属陶瓷、光导纤维、有机硅改变了航空、通信、医疗业。“不创新、毋宁死”跟一群平凡的伙伴共同实现不平凡的梦想，是齐牛的快乐所在。
               .clearfix
                  .culture
                     .we-tit2
                        span.h2.color1 分享
                        span.subh2.color1 SHARING
                     .culture-con
                        h3 氢（H 1）
                        p
                           | 氢原子只有一个电子，无法在自然界中生存；当两个氢原子相遇时，它们会各自贡献出仅有的电子，这样每个氢原子都有了两个电子，形成了稳定的分子结构。分享是互相的，是最简单的、最快速的使快乐翻倍的方式。
                  .culture
                     .we-tit2
                        span.h2.color4 快乐
                        span.subh2.color4 OPTIMISM
                     .culture-con
                        h3 镁（Mg 12）
                        p
                           | 镁化学性质活泼，能与酸反应生成氢气，在空气中燃烧时会发出炫目的光芒。“做人嘛，最重要的是开心”；做自己所爱的事，爱自己所做的事，让自己充满快乐的正能量，才能让身边的人快乐；任何时候，我们都是“快乐的齐牛人”。
         // 公司地址
         .address-wrap
            .image
               img(src='/images/mobile/address.jpg?ver=20150824')
      // 底部
      footer
         .server-tel.clearfix
            .icon-tel
               img(src='/images/mobile/icon-tel.png?ver=20150624', alt='')
            .server-info
               a.tel(href='tel:400-1515-176') 客服电话: 400-1515-176
               p.time 工作日 08:30 - 17:30
         .address-info
            p 地址：深圳市南山区学府路95号怡化金融科技大厦 601
            p 邮箱：cs@yiqiniu.com
            p 电话：0755-26921766
         .copyright-wrap.clearfix
            .logo
               img(src='/images/mobile/logo.png?ver=20150624', alt='齐牛金融')
            .copyright
               p.company-name 深圳齐牛互联网金融服务有限公司
               p.text Copyright © 2014-2015 齐牛金融 版权所有.
               p.text 粤ICP备14078038号-1
      // 回到顶部
      .goto-top.hide 回到顶部
      script(src="/javascripts/lib/jquery/jquery.js")
      script(src='/javascripts/mobile/easing.js?ver=20150624')
      script(src='/javascripts/mobile/common.js?ver=20150624')
